*, ::before, ::after{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	font-size: 62.5%;
	--noir : #000000;
	--blanc : #FFFFFF;
	--vert : #00F4BA;
	--bleu : #02B9F5;
    font-family: 'Roboto', sans-serif;
	background-color: var(--noir);
}

.header{
	background: no-repeat center 60%/ cover url(/assets/images/header.jpg);
	height: 100vh;
}

main{
	width: 90%;
	margin: auto;
	color: var(--blanc);
	font-family: 'Montserrat', sans-serif;
}

#players, #teams, #leagues{
	width: 65%;
	margin: 5rem auto;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}

.titleH1{
	font-size: 3.6rem;
	text-align: center;
}

.titleH2{
	font-size: 3rem;
	text-align: center;
	flex: 0 0 100%; /* flex-grow, flex-shrink, flex-basis */

}


.card{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto auto;
	row-gap: 1.5rem;
	height: auto;
	width: 25rem;
	background: radial-gradient(#0A0C17 ,#0C3F65);
	border-radius: 2rem;
	margin: 2rem;
}

.card__information{
	margin: 1rem;
	display: block;
	color: var(--vert);
	font-size: 1.6rem;
}

.card__team{
	grid-column: 1/2;
	justify-self : start;
}

.card__number{
	grid-column: 2/3;
	justify-self: end;
}

.card__picture{
	margin: auto;
	grid-column: 1/3;
	height: 14rem;
	position: relative;

}

.card__picture img{
	height: 14rem;
	clip-path: circle();
	width: auto;
	background-position : center bottom; 

}

.card__name{
	margin: auto;
	display: block;
	grid-column: 1/3;
	justify-self: center;
	color: var(--bleu);
	font-family: 'Bitter', serif;
	font-size: 2.5rem;
	text-align: center;
	
}

.card__position{
	grid-column: 1/3;
	justify-self: center;
	color: var(--vert);
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
}

.card__button{
	grid-column: 1/3;
	justify-self: center;
	font-size: 2rem;
	background-color: var(--vert);
	border-radius: 2rem;
	border: none;
	width: 70%;
	margin-bottom: 1.5rem;
}

.card__button a{
	color: var(--noir);
	text-decoration: none;
	padding: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	font-weight: bold;
}



.card__country{
	justify-self : start;
}

.card__league{
	justify-self : end;
	text-align: end;
}



footer{
	margin-top: 10rem;
	background-color: var(--vert);
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1.5rem 0;
}